GEMINI_API_KEY="MY_GEMINI_API_KEY"
TELEGRAM_BOT_TOKEN="MY_TELEGRAM_BOT_TOKEN"
APP_URL="MY_APP_URL"
ADMIN_CHAT_IDS="123456789,987654321"
VITE_ADMIN_IDS="123456789,987654321"
REQUIRED_CHANNEL_ID=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
